In [11]:
# Dependencies
import tweepy
import json
import numpy as np
import pandas as pd
from config2 import consumer_key, consumer_secret, access_token, access_token_secret

In [12]:
# Import and Initialize Sentiment Analyzer
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()

In [13]:
# Twitter API Keys
consumer_key = consumer_key
consumer_secret = consumer_secret
access_token = access_token
access_token_secret = access_token_secret

In [14]:
# Setup Tweepy API Authentication
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth, parser=tweepy.parsers.JSONParser())

In [15]:
target_term = '@facebook'

In [16]:

fb_tweets = []

date = []
oldest_tweet = None
for x in range(1,20):
    public_tweets = api.search(target_term, count=100, result_type="recent", max_id=oldest_tweet)

    for tweet in public_tweets['statuses']:
        tweet_id = tweet["id"]
        tweet_author = tweet["user"]["screen_name"]
        tweet_text = tweet["text"]

        fb_tweets.append(tweet['text'])
        date.append(tweet['created_at'])
        
        oldest_tweet = tweet_id - 1

print(len(fb_tweets))

1894

In [17]:
compound_list = []
positive_list = []
negative_list = []
neutral_list = []

for tweet in fb_tweets:

    # Run Vader Analysis on each tweet
    results = analyzer.polarity_scores(tweet)
    compound = results["compound"]
    pos = results["pos"]
    neu = results["neu"]
    neg = results["neg"]

    # Add each value to the appropriate list
    compound_list.append(compound)
    positive_list.append(pos)
    negative_list.append(neg)
    neutral_list.append(neu)

In [18]:
june_14 = {
    'Text': fb_tweets,
    'Compounded': compound_list,
    'Negative': negative_list,
    'Positive': positive_list,
    'Neutral': neutral_list,
    'Date': date
}

In [19]:
tweets_june_14_df = pd.DataFrame(june_14)

In [20]:
tweets_june_14_df.head()

,Compounded,Date,Negative,Neutral,Positive,Text
0,0.0000,Fri Jun 15 01:54:47 +0000 2018,0.000,1.000,0.000,RT @CITNOVA: #Bit Reuni처n de trabajo con @face...
1,-0.4098,Fri Jun 15 01:54:24 +0000 2018,0.115,0.885,0.000,RT @MaiaraeMaraisa: Mais de 2 milh천es de curti...
2,0.3182,Fri Jun 15 01:54:06 +0000 2018,0.000,0.887,0.113,Starting fresh on @facebook. According to @al...
3,-0.7777,Fri Jun 15 01:54:00 +0000 2018,0.253,0.747,0.000,"RT @mattocko: 2/ @facebook willful, global sca..."
4,-0.5859,Fri Jun 15 01:53:37 +0000 2018,0.220,0.780,0.000,RT @RealJamesWoods: #FightBack #StopTheBias Du...

In [21]:
len(compound_list)

1894

In [22]:
date[0]

'Fri Jun 15 01:54:47 +0000 2018'

In [23]:
date[1893]

'Thu Jun 14 19:26:03 +0000 2018'

In [24]:
from datetime import datetime

In [37]:
converted_timestamps = []
for raw in date:
    # https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior
    # http://strftime.org/
    converted_time = datetime.strptime(raw, "%a %b %d %H:%M:%S %z %Y")
    converted_timestamps.append(converted_time)

In [53]:

print(converted_timestamps[0])

2018-06-15 01:54:47+00:00

In [63]:
converted_timestamps[0].minute

54

In [59]:
hour = []
for x in range(len(converted_timestamps)):
    hours = converted_timestamps[x].hour
    hour.append(hours)

In [61]:
hour[5]

1

In [85]:
minutes = []
for x in range(len(converted_timestamps)):
    minute = converted_timestamps[x].minute
    minute = minute/100
    minutes.append(minute)

In [86]:
minutes[0]

0.54

In [87]:
tweets_june_14_df.head()

AttributeError: 'dict' object has no attribute 'head'

In [196]:
tweets_june_14 = {
    'Text': fb_tweets,
    'Compounded': compound_list,
    'Negative': negative_list,
    'Positive': positive_list,
    'Neutral': neutral_list,
    'Date': date,
    'Hour': hour,
    'Minutes': minutes
}

In [197]:
df = pd.DataFrame(tweets_june_14)

In [198]:
df.head()

,Compounded,Date,Hour,Minutes,Negative,Neutral,Positive,Text
0,0.0000,Fri Jun 15 01:54:47 +0000 2018,1,0.54,0.000,1.000,0.000,RT @CITNOVA: #Bit Reuni처n de trabajo con @face...
1,-0.4098,Fri Jun 15 01:54:24 +0000 2018,1,0.54,0.115,0.885,0.000,RT @MaiaraeMaraisa: Mais de 2 milh천es de curti...
2,0.3182,Fri Jun 15 01:54:06 +0000 2018,1,0.54,0.000,0.887,0.113,Starting fresh on @facebook. According to @al...
3,-0.7777,Fri Jun 15 01:54:00 +0000 2018,1,0.54,0.253,0.747,0.000,"RT @mattocko: 2/ @facebook willful, global sca..."
4,-0.5859,Fri Jun 15 01:53:37 +0000 2018,1,0.53,0.220,0.780,0.000,RT @RealJamesWoods: #FightBack #StopTheBias Du...

In [199]:
# df = df.set_index('Date')

In [200]:
df.head()

,Compounded,Date,Hour,Minutes,Negative,Neutral,Positive,Text
0,0.0000,Fri Jun 15 01:54:47 +0000 2018,1,0.54,0.000,1.000,0.000,RT @CITNOVA: #Bit Reuni처n de trabajo con @face...
1,-0.4098,Fri Jun 15 01:54:24 +0000 2018,1,0.54,0.115,0.885,0.000,RT @MaiaraeMaraisa: Mais de 2 milh천es de curti...
2,0.3182,Fri Jun 15 01:54:06 +0000 2018,1,0.54,0.000,0.887,0.113,Starting fresh on @facebook. According to @al...
3,-0.7777,Fri Jun 15 01:54:00 +0000 2018,1,0.54,0.253,0.747,0.000,"RT @mattocko: 2/ @facebook willful, global sca..."
4,-0.5859,Fri Jun 15 01:53:37 +0000 2018,1,0.53,0.220,0.780,0.000,RT @RealJamesWoods: #FightBack #StopTheBias Du...

In [188]:
# df_group = df.groupby(pd.Grouper(freq='1H', key=index)).mean()
# df_group.dropna(inplace=True)
# df_group = df_group.to_frame().reset_index()

In [109]:
# df['Time'] = df['Hour'] + df['Minutes']

In [110]:
# df.to_csv('june_14_7pm.csv')

In [187]:
# df.head()

In [112]:
# df = df[df.Hour != 0]

In [113]:
# df.to_csv('updated_june_14_7pm.csv')

In [201]:
df = df.groupby('Hour').mean()

In [202]:

# Taking mean values for a frequency of 2 minutes
# df_group = df.groupby(pd.Grouper(key='Date', freq='1H'))
# df_group.dropna(inplace=True)
# df_group = df_group.to_frame().reset_index()
# print(df_group)

In [204]:
df

      Compounded   Minutes  Negative   Neutral  Positive
Hour
0      -0.021009  0.280098  0.076608  0.850456  0.072941
1       0.001608  0.272324  0.068697  0.852703  0.078605
19     -0.169461  0.413793  0.120774  0.822881  0.056341
20     -0.010147  0.276085  0.075045  0.848249  0.076717
21     -0.044593  0.286498  0.070886  0.865734  0.063374
22      0.008275  0.290553  0.065008  0.860024  0.074957
23     -0.047134  0.296786  0.079058  0.854317  0.066616

In [134]:
df['Date'][0]

'Fri Jun 15 01:54:47 +0000 2018'

AttributeError: 'str' object has no attribute 'hour'