In [29]:
import csv
import json
import pandas as pd
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

In [30]:
analyzer = SentimentIntensityAnalyzer()

In [31]:
df = pd.read_csv("facebook_tweets.csv", header=None)
df.head()

                     0                                                  1
0  2018-06-16 17:40:46  b"RT @BarrettBrown_: My thanks to the 130 back...
1  2018-06-16 17:40:15  b'RT @followerzUK: 3 Factors You Should Look F...
2  2018-06-16 17:40:04  b'Is #Facebook the future of #TV?...Facebook W...
3  2018-06-16 17:39:54  b'RT @followerzUK: Facebook Marketing Means En...
4  2018-06-16 17:39:36  b'RT @Anncostanza1: @realDonaldTrump This is b...

In [32]:
results = analyzer.polarity_scores(df[1][0])
results

{'compound': 0.4404, 'neg': 0.0, 'neu': 0.873, 'pos': 0.127}

In [33]:
compound_list = []
positive_list = []
negative_list = []
neutral_list = []

for tweet in df[1]:

    # Run Vader Analysis on each tweet
    results = analyzer.polarity_scores(tweet)
    compound = results["compound"]
    pos = results["pos"]
    neu = results["neu"]
    neg = results["neg"]

    # Add each value to the appropriate list
    compound_list.append(compound)
    positive_list.append(pos)
    negative_list.append(neg)
    neutral_list.append(neu)

In [34]:
df['compound'] = compound_list
df['positive'] = positive_list
df['negative'] = negative_list
df['neutral'] = neutral_list

In [35]:
df.head()

,0,1,compound,positive,negative,neutral
0,2018-06-16 17:40:46,"b""RT @BarrettBrown_: My thanks to the 130 back...",0.4404,0.127,0.0,0.873
1,2018-06-16 17:40:15,b'RT @followerzUK: 3 Factors You Should Look F...,0.0000,0.000,0.0,1.000
2,2018-06-16 17:40:04,b'Is #Facebook the future of #TV?...Facebook W...,0.0000,0.000,0.0,1.000
3,2018-06-16 17:39:54,b'RT @followerzUK: Facebook Marketing Means En...,0.6369,0.256,0.0,0.744
4,2018-06-16 17:39:36,b'RT @Anncostanza1: @realDonaldTrump This is b...,0.3367,0.107,0.0,0.893

In [36]:
df.to_csv('facebook_twitter_scores_friday.csv', index=False)

In [37]:
df.tail()

,0,1,compound,positive,negative,neutral
9968,2018-06-14 21:24:43,b'RT @givon_ben: How To Find The Right Social ...,0.0000,0.000,0.000,1.000
9969,2018-06-14 21:24:28,b'RT @BAFF_Network: 7 Content Marketing Myths ...,-0.2960,0.000,0.155,0.845
9970,2018-06-14 21:24:08,b'\xf0\x9f\x94\xa5#Facebook Fanpage Promo\n\n5...,0.8126,0.483,0.000,0.517
9971,2018-06-14 21:23:51,b'#schoolholidays I remember how I used to pan...,-0.6705,0.000,0.282,0.718
9972,2018-06-14 21:23:38,b'#Reddit beats #Facebook to become third most...,0.0000,0.000,0.000,1.000